@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
@import url("https://fonts.googleapis.com/css?family=Allerta+Stencil");
@import url("https://fonts.googleapis.com/css?family=Anton");

.promo-description {
    width: 1110px;
    background: rgba(17, 17, 18, 0.65);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
    padding: 15px;
    margin-top: 20px;
    border-radius: 20px;
}

.container-body-v1 {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #202020;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto Condensed","Arial Narrow",Arial,sans-serif;
}

.block-main-v1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block-main-v1 h1 {
    font-size: 30px;
    line-height: 42px;
    color: #f9f5e1;
    margin-bottom: 15px;
    word-wrap: break-word;
    font-family: inherit;
    font-weight: 500;
}

.btn-class-v1:hover {
    background: #fff;
    border-color: #fff;
    color: #191e23;
    transform: translateY(6px);
}

.btn-class-v3:hover {
    background: #fff;
    border-color: #fff;
    color: #191e23;
}

.btn-class-v3 {
    transition: all .3s;
    color: #f25322;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: 0 0;
    border: 2px solid #f25322;
    -webkit-transition: all ease .5s;
    transition: all ease .5s;
    font-family: "Roboto Condensed","Arial Narrow",Arial,sans-serif;
    display: inline-flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0 -1px rgba(71, 0, 0, 0.3);
    border-radius: 1px;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 44px;
    min-width: 180px;
    padding: 0 35px;
    white-space: nowrap;
    border-radius: 20px;
}

.btn-class-v1 {
    transition: all .3s;
    color: #f25322;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: 0 0;
    border: 2px solid #f25322;
    -webkit-transition: all ease .5s;
    transition: all ease .5s;
    font-family: "Roboto Condensed","Arial Narrow",Arial,sans-serif;
    display: inline-flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0 -1px rgba(71, 0, 0, 0.3);
    border-radius: 1px;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 44px;
    min-width: 180px;
    padding: 0 35px;
    white-space: nowrap;
    border-radius: 20px;
}

.promo-block-text {
    margin-top: 20px;
    text-align: left;
    background: #202020;
    border-left: #59dbff 5px solid;
}

.promo-block-text-center {
    padding: 13px 18px 13px 23px;
    color: #c0c0c0;
    font-size: 16px;
    margin: 0;
}

.ist-promo {
    padding: 0;
    list-style: none;
    margin: 36px auto 0;
    text-align: center;
}

.list-promo-item {
    display: inline-block;
    padding: 30px 0 0;
    min-width: 360px;
    width: 33%;
    vertical-align: top;
    white-space: nowrap;
    color: #b8b8a2;
}

.list-promo-item p {
    font-size: 17px;
}

.promo-steps {
    position: relative;
    margin: 80px 0 0 0;
    padding: 15px;
    background: rgba(17, 17, 18, 0.65);
    color: #f9f5e1;
    width: 1110px;
    margin-bottom: 100px;
    border-radius: 20px;
}

.promo-steps h3 {
    text-align: center;
}

.list-steps {
    margin: 0;
}

.promo-steps .step {
    padding-bottom: 30px;
    list-style: none;
    display: flex;
    align-items: center;
}

.promote-slider__showcase {
    width: 100%;
    background-color: rgba(17, 17, 18, 0.65) !important;
    padding: 30px 0;
    margin-bottom: 90px;
    font-family: "Roboto Condensed","Arial Narrow",Arial,sans-serif;
}

.promote-slider {
    position: relative;
}


.promote-slider_item_list {
    display: flex;
}

.info-card {
    float: left;
    width: 257px;
    margin-left: 35px;
    margin-bottom: 20px;
}

.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.info-card .card-header {
    background-color: #3e5e80 ;
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    font-family: "Roboto Condensed","Arial Narrow",Arial,sans-serif;
    display: flex;
    align-items: center;
    height: 75px;
}

.promote-slider_holder {
    display: flex;
    justify-content: center;
}

.link-hover-effects {
    color: #f25322;
    text-decoration: none;
    transition: all .3s ease-out;
}

.link-hover-effects:hover {
    color: #fd7e14;
}

.info-card .card-header .card-header-text {
    position: relative;
    line-height: 50px;
    font-size: 20px;
    color: #FFF;
    padding: 15px 0;
    font-weight: 500;
    font-family: "Roboto Condensed","Arial Narrow",Arial,sans-serif;
}

.promote-slider_list {
    margin-left: -52px;
}

.info-card .card-body {
    background-color: #191e23;
    padding: 15px;
    font-size: 15px;
    color: #a9aeb3;
    font-size: 16px;
    font-family: "Roboto Condensed","Arial Narrow",Arial,sans-serif;
}

.block-text-free {
    margin-left: 86px;
    margin-right: 86px;
    margin-bottom: 150px;
    font-family: "Roboto Condensed","Arial Narrow",Arial,sans-serif;
}

.text-free {
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 1.5rem;
    color: #b8b8a2;
}

.promote-slider__showcase {
    background-color: rgba(17, 17, 18, 0.65);
    padding: 30px 0;
    margin-bottom: 90px;
}

.container {
    max-width: 1110px;
}

.promote-slider_list {
    display: flex;
}

.promote-slider_item {
    padding-left: 28px;
    overflow: hidden;
}

.showcase {
    overflow: hidden;
    display: block;
    position: relative;
}

.show-img-1 {
    width: 330px;
    height: 187px;
}

.showcase_pic {
    opacity: 0.5;
    -webkit-transition: ease .5s;
    transition: ease .5s;
}

.showcase_pic:before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.show-img-1:hover {
    transform: scale(1.1);
}

.showcase_title {
    color: #e9e2bf;
    
}

.showcase_info {
    position: absolute;
    top: 15px;
    left: 20px;
    right: 20px;
    z-index: 2;
}

.bg-img{
    background-image: url(../image/div.png);
    background-color: #191919;
    font-family: "Roboto Condensed","Arial Narrow",Arial,sans-serif;
}

.icon-chat-sizes {
    width: 60px !important;
    height: 60px !important;
}

.chat-icon {
    color: aliceblue;
    position: fixed;
    z-index: 100;
    bottom: 1.4285714286em;
    right: 1.4285714286em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 5px 38px rgb(0 0 0 / 15%);
    box-shadow: 0 5px 38px rgb(0 0 0 / 15%);
    cursor: pointer;
    -webkit-transition: visibility 0s linear .2s,opacity linear .2s;
    -o-transition: visibility 0s linear .2s,opacity linear .2s;
    transition: visibility 0s linear .2s,opacity linear .2s;
    transition: ease .5s !important;
}

.chat-icon:hover {
    transform: scale(1.1);
}

.wraper {
    width: 1110px;
    margin-top: 30px;
    margin-bottom: 103px;
    margin-right: 146px;
    margin-left: 163px;
}

.login-inner_title{
    font-size: 30px;
    line-height: 42px;
    color: #f9f5e1;
    margin-bottom: 15px;
    word-wrap: break-word;
}
.hr-viss {
    border: 0;
    height: 1px;
    background-color: #59595c;
    margin: 0 0 16px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px !important;
}

.width-form {
    width: 720px;
}

.color-input-name {
    color: #fff;
}

.btn-class-v2:hover {
    background: #fff;
    border-color: #fff;
    color: #191e23;
    cursor: pointer;
}

.btn-class-v2 {
    color: #f25322;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: 0 0;
    border: 2px solid #f25322;
    -webkit-transition: all ease .5s;
    transition: all ease .5s;
    font-family: "Roboto Condensed","Arial Narrow",Arial,sans-serif;
    display: inline-flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0 -1px rgba(71, 0, 0, 0.3);
    border-radius: 1px;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 44px;
    width: 110px;
    padding: 0 35px;
    white-space: nowrap;
}

.page-wrapper {
    display: flex;
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 50% 0;
    margin-bottom: -103px;
}

.page-wrapper .page-wrapper_inner {
    width: 100%;
    min-height: 100vh;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.docs-popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    text-align: center;
    display: block;
    color: #595959;
    background-image: url(../image/div.png);
}

.docs-popup-wrapper {
    width: 90%;
    height: 90%;
    min-width: 290px;
    min-height: 290px;
    max-width: 1000px;
    background-color: #fff;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
    padding: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    text-align: left;
    overflow: auto;
    margin-top: 40px;
}

.docs-popup-wrapper-title {
    color: #383838;
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
    padding-right: 18px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.docs-popup-wrapper-description {
    height: calc(100% - 40px);
    overflow: hidden;
    padding: 0px;
    width: 960px;
    text-align: left;
    font-size: 14px;
    line-height: 1.5;
    overflow: hidden;
    overflow-y: scroll;
}

.jspContainer {
    overflow: hidden;
    position: relative;
}

.jspPane {
    padding: 0px;
}

.docs-popup-wrapper-description::-webkit-scrollbar-thumb {
    background-color: #FE1F1A;
    border-radius: 4px;
    background: none;
}

.hovet-effect {
    width: 70px !important;
    height: 70px !important;
    transition: .3s !important;
}

.hovet-effect:hover {
    transform: translateY(-8px);
    color: #f1f8fa;
}

.name-add_sell {
    position: relative;
    border-color: rgba(255, 255, 255, 0.1);
    border-style: solid;
    border-width: 1px 0;
    background: rgba(0, 0, 0, 0.7);
    margin-bottom: 30px;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.wrap {
    margin: 30px 146px 103px 146px !important;
    max-width: 1111px !important;
    min-height: calc(100vh - 339px);
}

.form-size-flex {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 2px solid;
}

.form-label {
    width: 40% !important;
    display: inline-block;
    font-size: 18px !important;
    font-weight: 700;
    line-height: 42px;
    color: #ffffff;
    word-wrap: break-word;
}

.form-control {
    width: 50% !important;
    margin-bottom: 0.5rem;
}

.form-select {
    width: 50% !important;
    margin-bottom: 0.5rem;
}

.inpu-summary {
    width: 25% !important;
}

.spec-btn-ux {
    height: 45px;
    width: 150px;
    border-radius: 10px;
    background: #E48731;
    border: 2px ;
    color: white;
}

.trades-table {
    width: 100%;
    font-size: 14px;
    line-height: 1.2;
    color: #fff;
    margin-top: 40px;
}

.trades-table tr th {
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    background-color: #2E2D2D;
    padding: 15px 10px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.account-wrap__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
    font-size: 20px;
    line-height: 1.2;
    color: #fff;
    padding: 0 55px 10px 15px;
    border-bottom: 1px solid #A9A3A3;
    padding-top: 25px;
    margin-top: 30px;
}

.account-wrap__heading h2 {
    font-weight: 700;
    font-size: 22px;
}

.sum-account {
    display: flex;
    align-items: center;
}

.sum-account__label {
    margin: 0 40px 0 0;
}

.btn-orange {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 1;
    white-space: nowrap;
    border: 2px solid #E48731;
    padding: 12px 35px;
    background-color: #1E1D1D;
    text-transform: uppercase;
    transition: all ease .5s;
    cursor: pointer;
    color: #E48731;
    text-decoration: none;
    border-radius: 10px;
}

.btn-orange:hover {
    background-color: #E48731;
    color: white;
}

.nav-account {
    display: flex;
    margin-bottom: 30px;
}

.nav-account__tabs {
    flex: 0 0 260px;
}

.nav-account__link {
    display: block;
    cursor: pointer;
    transition: all ease .5s;
    font-size: 20px;
    line-height: 1;
    padding: 15px 10px;
    text-align: center;
    background-color: #2E2D2D;
    color: #fff;
    border: 2px solid #2E2D2D;
    border-radius: 10px;
    text-align: center;
    width: 260px;
}

.activ-link {
    background-color: #515050;
}

.nav-account__link:not(:first-child) {
    margin-top: 20px;
}

.nav-account__link:hover {
    background-color: #515050;
}

.nav-account__content {
    flex-grow: 1;
    border: 2px solid #2E2D2D;
    padding: 15px 55px;
    background-color: #1E1D1D;
    border-radius: 10px;
    margin-left: 2px;
}

.operation {
    font-size: 14px;
    line-height: 1.2;
    color: #fff;
}

.operation__heading {
    text-align: center;
    margin: 0 0 30px;
}

.form-operation {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 0 0 35px;
}

.form-operation__item {
    display: flex;
    align-items: center;
    margin: 0 0 20px;
}

.account-wrap__about-info {
    max-width: 590px;
    padding: 20px;
    border: 2px solid #E48731;
    color: #fff;
    background-color: #1E1D1D;
    margin: 0 auto 45px;
    font-size: 20px;
    line-height: 1.2;
    margin-top: 30px;
}

.account-wrap__time-info {
    text-align: center;
    color: #fff;
    font-size: 20px;
    line-height: 1.2;
}

.alert-block_info {
    border-left: #36D7B7 5px solid;
}

.alert-block {
    margin: 20px 0;
    text-align: left;
    background: #202020;
}

.text-alert {
    font-size: 16px;
    line-height: 150%;
    padding: 13px 18px 13px 23px;
    color: #c0c0c0;
}

.flex-box-0 {
    display: flex;
    flex-direction: column;
}

.account-wrap__time-info {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    line-height: 1.2;
}

.output-description-info-block {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f25322;
    color: #fff;
    padding: 6px;
}

.output-description-info-block p{
    margin: 0;
}

.flex-box-0 {
    min-height: calc(100vh - 200px);
}

.promo-description_payments {
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: center;
    padding: 15px;
    background: rgba(17, 17, 18, 0.65);
}

.header-title-thre {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
    line-height: 42px;
    color: #f9f5e1;
}

.text-free {
    margin: 50px 0;
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 1.5rem;
    color: #b8b8a2;
    text-align: initial;
}

.accordion {
    background-color: #191e23;
    color: #fff;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.accordion .section {
    width: 100%;
    height: inherit;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px 12px 0px 24px;
    color: #fff;
    font: bold 16px/58px Quantico, Arial, Helvetica, sans-serif;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
}

.panel {
    padding: 20px 18px;
    overflow: hidden;
    text-align: left;
}

.header-title-thre a {
    color: #f25322;
    text-decoration: none;
}

.header-title-thre a:hover {
    color: #fa7f5a;
}

.chat {
    width: 375px;
    height: 452px;
    position: absolute;
    background-color: #312e2e;
    border-radius: 10px;
    position: fixed;
    z-index: 100;
    bottom: 6.43em;
    right: 1.4285714286em;
    box-shadow: 0 5px 38px rgb(0 0 0 / 15%);
    cursor: pointer;
    -webkit-transition: visibility 0s linear .2s,opacity linear .2s;
    -o-transition: visibility 0s linear .2s,opacity linear .2s;
    transition: visibility 0s linear .2s,opacity linear .2s;
    transition: ease .5s !important;
    border: 1.5px solid #f25322
}

.chat-header {
    height: 70px;
    background: rgba(17, 17, 18, 0.65);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: .5px solid #f25322;
    padding: 20px;
    display: flex;
    align-items: center;
}

.img-helper {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1.5px solid bisque;
}

.helper-nickName {
    margin-left: 10px;
    color: #d7ebe7;
}