.color:hover{
    color: #fab81b;
}

.palca {
    display: inline-block;
}

.palca::before {
    content:'';
    position: absolute;
    height: 10px;
    width: 1px;
    left: 0;
    top: 10px;
    background-color:#aaaaab;
}
.color-nav-link {
    text-decoration: none;
    color: rgb(170, 170, 171);
}

.flex-nav-link {
    margin-left: 75px;
    display: flex;
    width: 330px;
    justify-content: space-between;
    align-items: center;
}

.flex-nav-link-registr{
    display: flex;
    width: 150px;
    justify-content: space-between;
    margin-right: 20px;
}

.imgWith {
    width: 40px;
}

.nav-main-header {
    display: flex;
}

.navbar-header {
    background-color: #27272B;
    padding-right: 50px;
    padding-left: 50px;
    height: 66px;
    opacity: 85;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-profile-block {
    background: rgba(39, 39, 43, 0.93);
    position: absolute;
    height: auto;
    margin-top: 45px;
    margin-left: -72px;
}

.nav-detail_item {
    display: block;
    position: relative;
    padding: 10px 0;
}

.nav-detail_link {
    text-decoration: none;
    color: #aaaaab;
    font-size: 14px;
    padding: 12px 16px;
    white-space: nowrap;
    overflow: hidden;
}

.nav-detail_list {
    padding: 0;
    margin: 0;
}

.nav-detail_link:hover {
    color: #fab81b ;
}

.hoverArrow {
    color: #aaaaab;
    cursor: pointer;
}

.hoverArrow:hover {
    color: #fab81b;
}